# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Static (collected)
staticfiles/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
