{% extends 'movies/base.html' %}
{% block title %}My Favorites | CinemaFlix{% endblock %}

{% block content %}
<h2 class="text-light mb-4 mt-4">Favorites</h2>

{% if fav_movies %}
<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4">
  {% for movie in fav_movies %}
      {% include 'movies/movie_card.html' with movie=movie delay=forloop.counter0 user_fav_ids=user_fav_ids %}
  
  {% endfor %}
</div>
{% else %}
<p class="text-secondary text-center py-5">You have no favorite movies yet.</p>
{% endif %}
{% endblock %}
