{% extends 'movies/base.html' %}

{% block title %}Movies | MovieSite{% endblock %}

{% block content %}

<h2 class="mb-4">Movies</h2>

<form method="get" class="row g-3 mb-4">
    <div class="col-md-6">
        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="Search movies..."
            value="{{ request.GET.q }}"
        >
    </div>

    <div class="col-md-4">
        <select name="genre" class="form-select">
            <option value="">All Genres</option>
            {% for genre in genres %}
                <option value="{{ genre }}"
                    {% if request.GET.genre == genre %}selected{% endif %}
                >
                    {{ genre }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-2">
        <button class="btn btn-dark w-100">Filter</button>
    </div>
</form>

<div class="row">
    {% for movie in page_obj %}
    <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-sm">
        {% if movie.poster %}
        <img src="{{ movie.poster.url }}" class="card-img-top">
        {% endif %}
        <div class="card-body text-center">
            <h5>{{ movie.title }}</h5>
            <p class="text-muted">{{ movie.genre }}</p>

            <!-- Favorite Button -->
            {% if user.is_authenticated %}
            <form action="{% url 'toggle_favorite' movie.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                {% if movie.id in user_fav_ids %}
                <button class="btn btn-danger btn-sm">❤️ Remove</button>
                {% else %}
                <button class="btn btn-outline-danger btn-sm">🤍 Add to Favorites</button>
                {% endif %}
            </form>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-danger btn-sm">Login to Favorite</a>
            {% endif %}

            <a href="{% url 'movie_detail' movie.pk %}" class="btn btn-dark btn-sm mt-2">View Details</a>
        </div>
    </div>
</div>

    {% empty %}
        <p>No movies found.</p>
    {% endfor %}
</div>


<nav>
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.genre %}&genre={{ request.GET.genre }}{% endif %}">
    Previous
</a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
<li class="page-item {% if page_obj.number == num %}active{% endif %}">
    <a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.genre %}&genre={{ request.GET.genre }}{% endif %}">
        {{ num }}
    </a>
</li>
{% endfor %}

    {% if page_obj.has_next %}
<li class="page-item">
    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.genre %}&genre={{ request.GET.genre }}{% endif %}">
        Next
    </a>
</li>
{% endif %}

    </ul>
</nav>



{% endblock %}
