{% extends 'movies/base.html' %}

{% block title %}{{ movie.title }} | MovieSite{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        {% if movie.poster %}
        <img src="{{ movie.poster.url }}" class="img-fluid rounded shadow" alt="{{ movie.title }}">
        {% endif %}
    </div>
    <div class="col-md-8">
        <h2>{{ movie.title }}</h2>
        <p><strong>Genre:</strong> {{ movie.genre }}</p>
        <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
        <p>{{ movie.description }}</p>
        <a href="{% url 'movie_list' %}" class="btn btn-secondary mt-3">Back to Movies</a>
    </div>
</div>
{% endblock %}
